{% load static %}

<!-- ======= Call To Action Section ======= -->
<section id="call-to-action" class="call-to-action">
    <div class="container" data-aos="zoom-out">
      {% for call in callToActions %}
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h3><a class="get-a-quote" href="{% url 'register' %}"><button class="btn btn-primary mt-1">join the waitlist</button></a></h3>
          <!-- <p>{{ call.message }}</p> -->
          <p>SalesGenie AI is currently in early access as we ramp up capacity. To start using SalesGenie AI for sales work, join the waitlist<span class='align-items-center mb-3'>.</span> </p>
          <p>{{ call.reminder }}</p>
        </div>
      </div>
      {% endfor %}

    </div>
  </section><!-- End Call To Action Section -->