{% extends 'main.html' %}
{% block title %}Your No. 1 Sales Agent{% endblock title %}

{% load static %}

 {% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    {% for infor in companyinfor %}
    <div class="container">
      <div class="row gy-4 d-flex justify-content-between">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>


          {% endfor %}
        {% endif %}
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">{{infor.problem_statement}}</h1>
          <h2 data-aos="fade-up">Meet SalesGenie AI.</h2>
          <p data-aos="fade-up" data-aos-delay="100">{{infor.solution_statement}}</p>
          <button class="btn btn-primary"><a class="justify-content-center" href="{% url 'pricing' %}" style="color:white ;">Get Started Now</a></button>
          <p data-aos="fade-up" data-aos-delay="100" class="text-center">{% if callToActions %}{{ callToActions.message }}{% endif %}<span class='align-items-center mb-3'></span></p>
        
          


          <div class="row gy-4" data-aos="fade-up" data-aos-delay="400">
            {% for statistic in statistics %}
            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end='{{ statistic.statistic_number}}' data-purecounter-duration="1" class="purecounter"></span>
                <p>{{ statistic.statistic_name}}</p>
              </div>
            </div><!-- End Stats Item -->
            {% endfor %}

          </div>
        </div>

        <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
          <img src="{%static 'assets/img/img-1.png' %}" class="img-fluid mb-3 mb-lg-0"  alt="">
        </div>

      </div>
    </div>
    {% endfor %}
  </section><!-- End Hero Section -->

  <main id="main">

    {% include 'featured-services.html' %}

    {% include 'testimonial.html' %}

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        {% for why in whyUs %}
        <div class="row gy-4">
          <div class="col-lg-6 content order-last  order-lg-first">
            <h3>So, Why SalesGenie AI?</h3>
            <p>{{ why.overview }}</p>
            <ul>
              <li data-aos="fade-up" data-aos-delay="100">
                {% if why.first_point_icon %}<i class="bi bi-{{ why.first_point_icon}}"></i>{% else %} <i class="bi bi-diagram-3"></i>{% endif %}
                <div>
                  <h5>{{ why.first_point_title}}</h5>
                  <p>{{ why.first_point_overview}}</p>
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="200">
                {% if why.second_point_icon %}<i class="bi bi-{{ why.second_point_icon}}"></i>{% else %}<i class="bi bi-fullscreen-exit"></i>{% endif %}
                <div>
                  <h5>{{ why.second_point_title}}</h5>
                  <p>{{ why.second_point_overview}}</p>
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="300">
                {% if why.third_point_icon %}<i class="bi bi-{{ why.third_point_icon}}"></i>{% else %} <i class="bi bi-broadcast"></i>{% endif %}
                <div>
                  <h5>{{ why.third_point_title}}</h5>
                  <p>{{ why.third_point_overview}}</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
            
            <img src="{% static 'assets/img/why-us.webp' %}" style="border-radius: 10px; object-fit: cover;" class="img-fluid" alt="">
            
            <a href="{{why.youtube_link}}" class="glightbox play-btn"></a>
          </div>
        </div>
        {% endfor %}
      </div>
    </section><!-- End About Us Section -->
  
    <!-- ======= Services Section ======= -->
    <section id="service" class="services pt-0">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h3>SalesGenie AI Is The Secret To Your Business Success</h3>
          <p>It’s the difference between the 99% Businesses that don’t make money,<strong> and the 1% that do!</strong> </p>

        </div>

        <div class=" row justify-content-center ">

          <div class="col-lg-6 col-md-6 " data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-8 col-md-6">
              <div class="card">
                
                <h3>Without SalesGenie AI </h3>
                <ul>
                  {% for other in others %}
                  <li>{{other.name}}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-8 col-md-6">
              <div class="card">
                <h3>With SalesGenie AI</h3>
                <ol>
                  {% for benefit in us %}
                  <li>{{benefit.name}}</li>
                  {% endfor %}
                </ol>
              </div>
            </div>
            
          </div><!-- End Card Item -->

        </div>

        <div class="section-header">
          <a class="get-a-quote" href="{% url 'pricing' %}"><button class="btn btn-primary mt-1">Get Started Now</button></a>
          <p data-aos="fade-up" data-aos-delay="100" class="text-center">{% if callToActions %}{{ call.message }}{% endif %}<span class='align-items-center mb-3'></span></p>
 

        </div>

      </div>
    </section><!-- End Services Section -->
    {% include 'benefits.html' %}

    {% include 'call-to-action.html' %}

    {% include 'faq.html' %}

  </main><!-- End #main -->

  {% endblock %}

  